{% extends "base.html" %}
{% block title %}Painel Administrativo{% endblock %}

{% block content %}

    <div class="title">Painel Administrativo</div>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Clientes cadastrados</h5>
                <h2>{{ total_clientes }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Funcionários</h5>
                <h2>{{ total_funcionarios }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Veículos cadastrados</h5>
                <h2>{{ total_veiculos }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Veículos disponíveis</h5>
                <h2>{{ veiculos_disponiveis }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Locações ativas</h5>
                <h2>{{ locacoes_ativas }}</h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Locações pendentes</h5>
                <h2>{{ locacoes_pendentes }}</h2>
            </div>
        </div>

    </div>

{% endblock %}